* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(36, 179, 112);   
    padding: 100px;
    zoom: 80%;
}
/* Biceps Title */
#bicepsname {
    font-family: 'Playfair Display', serif;
    font-size: 150px;
}

/* Biceps Title Position: with flex */
#bn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* "Which exercise will you perform today..?" */
#exp2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    margin-top: 30px;
}

/* Exercise 1: Bicep Curl */
#bcimg {
    width: 300px;
    height: 200px;
    border: black solid 1px;
    border-radius: 350px;
}

#bc {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: black solid 10px;
    border-radius: 200px;
    margin-top: 50px;
}

#bcname {
    font-family: 'Lexend Exa', sans-serif;
    text-decoration: none;
    font-size: 50px;
    align-self: center;
    margin-left: 100px;
    color: black;
}

a{
    text-decoration: none;
}

#homebtn {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(EasyFit-Logo4.png);
    width: 500px;
    height: 150px;
    background-color: red;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: -240px;
    margin-left: -150px;
}

#homebtn:hover {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(EasyFit-Logo4.png);
    width: 500px;
    height: 150px;
    background-color: rgb(36, 179, 112);
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: -200px;
    margin-left: -150px; 
}