* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(243, 243, 243);
    zoom: 80%;
}

/* SECTION 1 */

/* Section 1 color */
#sec1 {
    /* background-color: white; */
}

/* Logo Adjustment */
#logo {
 width: 1300px;
}

#logodiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -350px;
    margin-left: -130px;
}

/* Slogan */
.slogan {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
}

#slogan_div {
    display: flex;
    flex-direction: row;
     justify-content: center; 
     margin-top: -400px;
        /* margin-left: 70px;  */
    color: black;
}

#forspace {
    color: white;
}
/* SECTION 2 */


/* Building Muscle Title */
.bmdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-top: 100px;
    /* margin-left: 80px; */
    color: rgb(0, 0, 0);
    opacity: 1;
}

/* Arms title with some words */
#armswhole {
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-top: 20px;
}

#legswhole {
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-top: 20px;
    border-top: 1px black solid;
    margin-top: 20px;
}

/* "Arms" */
#arms {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 50px;
    /* color: rgb(130, 255, 140); */
}

#legs {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 50px;
    /* color: rgb(130, 255, 140); */
}

/* "which muscles will you like to work out..?" */
#ex1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

#ex2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

#all3squares {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

#all3squares2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
/* Bicep Square */

#biceplink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url("bicepimg3.png");
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px;
    border: rgb(128, 11, 11) solid 10px;
    transition-duration: 0.4s;
    background-size: cover; 
    background-position: center;
}

#biceplink:hover {
    border: rgb(128, 11, 11) solid 10px;
    background-color: rgb(128, 11, 11);
}

#calvelink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(https://o.remove.bg/downloads/5426359b-f70b-49f8-a897-b70655d09e74/poirier_317-removebg-preview.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px;
    border: rgb(255, 149, 0) solid 10px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

#calvelink:hover {
    border: rgb(255, 149, 0) solid 10px;
    background-color: rgb(255, 149, 0);
}

/* Tricep Square */
#quadlink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(https://o.remove.bg/downloads/988448a4-e895-44c5-bab9-a847a50892d6/ab3009fa6cc874687af8c805415e7f18-removebg-preview.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px; 
    border: rgb(204, 255, 0) solid 10px;
    transition-duration: 0.4s; 
    background-size: cover;
}

#quadlink:hover {
    border: rgb(204, 255, 0) solid 10px;
    background-color: rgb(204, 255, 0);
}


/* Tricep Square */
#triceplink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(https://o.remove.bg/downloads/e3004137-dfe6-420d-a48d-3417bbe30905/Triceps_brachii-removebg-preview.png);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px; 
    border: rgb(219, 216, 44) solid 10px;
    transition-duration: 0.4s; 
    background-size: cover;
}

#triceplink:hover {
    border: rgb(219, 216, 44) solid 10px;
    background-color: rgb(219, 216, 44);
}

/* Shoulder Square */
#shoulderlink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url("shoulders2.png");
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px; 
    border: rgb(62, 64, 140) solid 10px;
    transition-duration: 0.4s;
    background-size:400px;
    background-position: center

}

#shoulderlink:hover {
    border: rgb(62, 64, 140) solid 10px;
    background-color: rgb(62, 64, 140);
}


/* Shoulder Square */
#hamstringlink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(https://o.remove.bg/downloads/ec0c999f-f3c0-4269-b1a6-45bd51909409/hamstrings-removebg-preview.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px; 
    border: rgb(0, 149, 255) solid 10px;
    transition-duration: 0.4s;
    background-size: cover;
}

#hamstringlink:hover {
    border: rgb(0, 149, 255) solid 10px;
    background-color: rgb(0, 149, 255);
}

/* Forearm Square */
#forearmsquare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#forearmlink {
    display: block;
    /* NOTE: IMAGE IS PLACEHOLDER */
    background-image: url(forearm.png);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    border-radius: 10px; 
    border: rgb(36, 179, 112) solid 10px;
    transition-duration: 0.4s;
    background-size: 400px;
    background-position: center 
}

#forearmlink:hover {
    border: rgb(36, 179, 112) solid 10px;
    background-color: rgb(36, 179, 112)
}


#mission{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#Nutrition{
    border: 10px burlywood solid;
    width:500px;
    padding: 15px;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

#Nutrition:hover{
    border: burlywood solid 10px;
    background-color: burlywood;
}

#j{
    display: flex;
    justify-content: center;
    border-top: 1px black solid
}

a{
    text-decoration: none;
}


/* Responsive */

@media screen and (max-width: 1060px) {
    .bmdiv { 
    text-align: center;
     }

     /* Centering the arms text */
     #armswhole {
         text-align: center;
     }

     /* Centering  first 3 squares in a column */
     #all3squares {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     /* Spacing out the tricep square */
     #tricepsquare {
         margin-top: 20px;
     }

     /* Spacing out the shoulder square */
     #shouldersquare {
         margin-top: 20px;
     }

     /* Spacing out the forearm square */
     #forearmsquare {
         margin-top: 20px;
     }

     /* Centering the legs text */
     #legswhole {
         text-align: center;
     }

     /* Centering  first 3 squares in a column */
     #all3squares2 {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}